@import '@/styles/vars.scss';
@import '@/styles/utilities.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}


// typography
* {
	color: $clear-color;
}

p {
	line-height: 1.7;
}
// links
a {
	color: $clear-color;
	text-decoration: none;
	font-family: $sans-serif;
}

li {
	display: inline-block;
}

