@import '@/styles/vars.scss';

// utilities
	// containers
	.container {
		margin-inline: auto;
	}
	.container.sm {
		width: 55%;
	}
	.container.md {
		width: 70%;
	}

	// btns
	.btn {
		border-radius: 8px;
		padding: 10px 25px;
		text-align: center;
		text-transform: capitalize;
		color: $clear-color;
		font-family: $sans-serif;
		width: fit-content;
		font-size: .8em;
		cursor: pointer;
		transition: all .1s ease-in;
	}

	.btn.third {
		background-color: $third-color;
		&:hover {
			background-color: $third-hover;
		}
	}

	.btn.accent {
		background-color: $accent;
	}

	// typography

	.hand {
	font-family: $hand;
	font-size: 4em;
	}

	.quote {
		color: $secondary-clear;
		font-style: italic;
		font-family: $sans-serif;
	}


// mixins
@mixin full100 {
	width: 100%;
	height: 100%;
}

@mixin absoluteTopLeft {
	position: absolute;
	top: 0;
	left: 0;
}

@mixin absoluteTopRight {
	position: absolute;
	top: 0;
	right: 0;
}

@mixin flexAlignCenter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

@mixin flexCentered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}