// colors
$primary-color: #030303;
$secondary-color: #86888e;
$secondary-clear: #a3a3a3;
$secondary-dark: #747474;
$third-color: #49a987;
$third-hover: #357f60;
$clear-color: white;

$accent: #f3b329;
$accent-hover: #f4a700;
$accent-2: #49a987;
$accent-2-focus: #4fd59b;

// typography
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@400;500;600&family=Shadows+Into+Light&display=swap');
$sans-serif: 'Montserrat', sans-serif;
$serif: 'DM Serif Text', serif;
$hand: 'Shadows Into Light', cursive;


// backgrounds
$bg-2: #fef7e9;
$bg-3: #f5fcfa;