// colors
$primary-color: #030303;
$secondary-color: #86888e;
$third-color: #65bc7b;
$clear-color: white;

$accent: #f3b329;
$accent-2: #49a987;

// typography
@import url('https://fonts.googleapis.com/css2?family=Allison&family=DM+Serif+Text&family=Montserrat&display=swap');
$sans-serif: 'Montserrat', sans-serif;
$serif: 'DM Serif Text', serif;
$hand: 'Allison', cursive;


// backgrounds
$bg-2: #fef7e9;